 <footer>
    <div class="P-5 bg-cover mt-5 bg-no-repeat col-12 position-absolute z-n2" style="background-image: url(/img/6310401747d9012af740de4320a0148b.png);">
      <div class="position-absolute opacity-90 theme-blue top-0 left-0 w-100 h-100 z-1"></div>
      <div class="col-12 container py-5 d-flex justify-content-between flex-wrap">
        <div class="z-9 col-xl-4 mb-3 p-5 bg-white" style="border-radius:50px 20px;">
          <div class="d-flex justify-content-center">
            <img src="/img/logo.png" class="text-center" style="height: 66px !important;">
          </div>
          <p class="mx-lg-5 text-center mt-4">Through our fascinating introduction film, learn more about the core .</p>
          <div class="d-flex flex-column mt-3">
            <span>
              <i class="fa-solid fa-phone theme-blue p-2 text-white rounded-circle me-2"></i>+91 25845 54845
            </span>
            <span>
              <i class="fa-solid fa-envelope  theme-blue p-2 text-white rounded-circle me-2 mt-2"></i>info@morsydigitalsolution.com
            </span>
          </div>
          <div class="d-flex mt-4 justify-content-center">
            <div class="col-lg-5 col-7 d-flex justify-content-between">
            <i class="fa-brands fa-facebook theme-blue p-2 text-white rounded-circle"></i>
            <i class="fa-brands fa-instagram theme-blue p-2 text-white rounded-circle"></i>
            <i class="fa-brands fa-whatsapp theme-blue p-2 text-white rounded-circle"></i>
            <i class="fa-brands fa-twitter theme-blue p-2 text-white rounded-circle"></i>
            </div>
          </div>
        </div>
        <div class="z-9 px-lg-3 mt-lg-0 mt-5 col-12 col-lg-2">
         <div class="d-flex flex-column text-white">
          <h3 class="fs-5 border-bottom border-white" style="width: fit-content;">Useful Links</h3>
          <a href="" class="mt-2">Home</a>
          <a href="" class="my-2">Buy</a>
          <a href="">Sell</a>
          <a href="" class="my-2">Rent</a>
          <a href="">Blog Post</a>
          <a href="" class="my-2">Sitemap</a>
          <a href="">Contact Us</a>
         </div>
        </div>
        <div class="z-9 px-lg-3 mt-lg-0 mt-5 col-12 col-lg-2">
         <div class="d-flex flex-column text-white">
          <h3 class="fs-5 border-bottom border-white" style="width: fit-content;">Services</h3>
          <a href="" class="mt-2">Home</a>
          <a href="" class="my-2">Buy</a>
          <a href="">Sell</a>
          <a href="" class="my-2">Rent</a>
          <a href="">Blog Post</a>
          <a href="" class="my-2">Sitemap</a>
          <a href="">Contact Us</a>
         </div>
        </div>

        <div class="z-9 col-12 col-lg-3 mt-lg-0 mt-5 text-white">
          <h3 class="fs-5 border-bottom border-white" style="width: fit-content;">Support</h3>
          <div class="d-flex flex-column">            
          <a href="" class="my-2">documentation</a>
          <a href="">support</a>
          <a href="" class="my-2">faqs</a>
          <a href="" >join our community</a>
          </div>
          <div class="input-group mb-3 mt-3 pe-5">
            <input type="text" class="form-control  text-white bg-transparent" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-light bg-white text-theme-blue fw-bold" type="button" id="button-addon2">Button</button>
          </div>
        </div>
      </div>  
      <div class="d-flex justify-content-center">
        <div class="z-9 text-center p-3 w-100 text-white">
         <hr>
     <p class="mt-3">© Copyright 2023. morsy property Foundation. All Rights Reserved</p>
       </div>
      </div>
      </div>
    </div>  



  </footer>
</body>
<script src="/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&amp;display=swap"> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  -->

<script>
  window.addEventListener("scroll", function () {
    const header = document.querySelector("header");
    const container = header.querySelector(".container"); // Select the specific container div
    const topbar = header.querySelector(".topbar");
    const headerHeight = header.offsetHeight;
    const scrollY = window.scrollY || window.pageYOffset;

    if (scrollY > headerHeight) {
      topbar.classList.add("d-none");
      header.classList.add("position-fixed", "shadow-lg");
      // container.classList.add("position-fixed","shadow-lg")
    } else {
      // header.classList.remove("sticky");
      topbar.classList.remove("d-none");
      header.classList.remove("position-fixed","shadow-lg");
    }
  });


  $("#user-nav-tabs li").on('click', function (e) {
    var targetLink = $(e.currentTarget.children[0]).attr("href").slice(1);

    var content_map = {
      c1: "#content1",
      c2: "#content2",
      c3: "#content3"
    }

    $(e.currentTarget).siblings().removeClass("active");

    $.each(content_map, function (hash, elid) {
      if (hash == targetLink) {
        $(elid).show();
        $(e.currentTarget).addClass("active");
      } else {
        $(elid).hide();
      }
    });
  });

  $(document).ready(function () {
  $(".testimonial .indicators li").click(function () {
    var i = $(this).index();
    var targetElement = $(".testimonial .tabs li");
    targetElement.eq(i).addClass("active");
    targetElement.not(targetElement[i]).removeClass("active");
  });
  $(".testimonial .tabs li").click(function (){
    var targetElement = $(".testimonial .tabs li");
    targetElement.addClass("active");
    targetElement.not($(this)).removeClass("active");
  });
});
$(document).ready(function () {
  $(".slider .swiper-pagination span").each(function (i) {
    $(this)
      .text(i + 1)
      .prepend("0");
  });
});


</script>
</html>