<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

  <title>Morsy Property Dealer</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/all.min.css" />
  <link rel="stylesheet" href="/css/tailwind.min.css">
</head>

<body>
  <header class="d-flex flex-column w-100 bg-white" style="z-index: 999;">
    <div class="topbar d-flex theme-blue">
      <div class="container d-flex py-2">
        <div class="d-flex align-items-center">
          <i class="fa-solid text-theme-blue me-2 bg-white fa-phone p-2 rounded-circle"></i>
          <p class="m-0 text-white">90992 24244</p>
        </div>
        <div class="d-flex ms-3 align-items-center">
          <i class="fa-regular me-2 fa-envelope rounded-circle bg-white text-theme-blue p-2"></i>
          <p class="m-0 text-white">morsyproperty@info</p>
        </div>
      </div>
    </div>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a href="/user" class="navbar-brand"><img src="/img/logo.png" style="height: 50px !important;" alt="" /></a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="flex-grow: 0" id="navbarCollapse">
            <div class="navbar-nav">
              <div class="d-flex align-items-center flex-wrap mt-col-xl-0 justify-content-center">
                <a href="#" class="text-theme-red fw-normal fs-5">Download App</a>
                <a href="/user/sellpage" style="padding:6px 6px"
                  class="mx-lg-3 mx-5 ps-3 my-col-xl-0 my-3 rounded-pill theme-blue text-white rounded-3">POST PROPERTY FREE
                  &nbsp;&nbsp;&nbsp;<i
                    class="fa-solid bg-white p-2 rounded-circle fa-cloud-arrow-up text-theme-blue"></i></a>
                  <a href="/user/profile" class="border-1 border-dark rounded-circle p-1"><i style="font-size: 36px;"
                    class="fa-solid d-block fa-circle-user text-dark"></i></a>
                <div class="bg-dark py-3 mx-3" style="width:1.5px;"></div>
                <a href="" class="fs-2 text-theme-blue d-flex align-items-center"  data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars d-none d-md-block d-sm-block me-3"></i> Menu</a>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                  aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body d-flex justify-content-center">
                    <ul class="d-flex flex-column  justify-content-center h-100 w-100">
                      <li><a href="/user" class="fs-5"><i class="fa-solid fa-home me-3"></i>Home</a></li>
                      <hr class=" my-4">
                      <li><a href="#" class="fs-5"><i class="fa-solid fa-address-card me-3"></i> About</a></li>
                      <hr class=" my-4">
                      <li><a href="#" class="fs-5"><i class="fa-solid fa-blog me-3"></i> Blogs</a></li>
                      <hr class=" my-4">
                      <li><a href="/user/property" class="fs-5"><i class="fa-solid fa-mountain-city me-3"></i> Properties</a></li>
                      <hr class=" my-4">
                      <li><a href="#"  class="fs-5"><i class="fa-solid fa-envelope me-3"></i> Contact Us</a></li>
                      <hr class=" my-4">
                      <li><a href="/user/profile"  class="fs-5"><i class="fa-solid fa-circle-user me-3"></i> Profile</a></li>
                      <hr class=" my-4">
                      <li><a href="/user/logout"  class="fs-5"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
