<%-include('header')%>

<div class="main container my-5 py-5">

    <div class="row mt-5 card pt-3 px-2">
       <div class="row ">
        <div class="col">
            <!-- Name input -->
            <div class="form-outline">
              <input type="text" id="form8Example1" class="form-control" />
              <label class="form-label" for="form8Example1">Name</label>
            </div>
          </div>
          <div class="col">
            <!-- Email input -->
            <div class="form-outline">
              <input type="email" id="form8Example2" class="form-control" />
              <label class="form-label" for="form8Example2">Email address</label>
            </div>
          </div>
        </div>    
        <div class="row">
          <div class="col">
            <!-- Name input -->
            <div class="form-outline">
              <input type="text" id="form8Example3" class="form-control" />
              <label class="form-label" for="form8Example3">First name</label>
            </div>
          </div>
          <div class="col">
            <!-- Name input -->
            <div class="form-outline">
              <input type="text" id="form8Example4" class="form-control" />
              <label class="form-label" for="form8Example4">Last name</label>
            </div>
          </div>
          <div class="col">
            <!-- Email input -->
            <div class="form-outline">
              <input type="email" id="form8Example5" class="form-control" />
              <label class="form-label" for="form8Example5">Email address</label>
            </div>
          </div>
        </div>
    </div>
</div>

<%-include('footer')%>