*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

.theme-blue{
    background-color: #006CB5 !important;
}

.theme-red{
    background-color: #DD373C !important;
}
.text-theme-blue{
    color:#006CB5 !important;
}
.text-theme-red{
    color:#DD373C !important;
}
a{
    text-decoration: none !important;
} 
.z-9{
  z-index: 9;
} 
.z-1{
  z-index: 1;
} 
.z-n1{
  z-index: -9;
} 
  .banner-tabs .tabs {
    display: flex;
  }
  
  .banner-tabs  .tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .banner-tabs .tab:hover {
    background-color: #f2f2f2;
  }
  
  .banner-tabs .tab.active {
    background-color: #007bff;
    color: white;
  }
  
  .banner-tabs  .dark .tab.active {
    background-color: #333;
    color: var(--text-primary);
  }
 
  .banner-tabs .toggle-checkbox {
    display: none;
  }
  
  .banner-tabs  .toggle-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .banner-tabs  .toggle-label:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease-in-out;
  }
  
  .banner-tabs .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(20px);
  }

  .banner-tabs .dark .toggle-label #lightLabel {
    display: none;
  }
  
  .banner-tabs .light .toggle-label #darkLabel {
    display: none;
  }
  .banner-tabs .btn_check input {
    display: none;
  }
  
  .banner-tabs .btn_check i {
    width: 14px;
    text-align: left;
  }
  
  .banner-tabs .btn_check .input:checked + label {
    color: #ffffff;
    background-color: #006CB5;
    border-color: #006CB5;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  .banner-tabs .btn_check input:checked + label i:before {
    content: "ï†";
  }

#content2,
#content3 { 
  display: none;
 }
 .tab-bt:focus{
  background-color: #006CB5;
  color: #ffffff;
  font-weight: 600;
 }

body .testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
body .testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}
body .testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #006CB5;
  border-radius: 50%;
}
body .testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #006CB5;
  border-radius: 50%;
}
body .testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}
body .testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}
body .testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}
body .testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}
body .testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}
body .testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}
body .testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}
body .testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}
body .testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}
body .testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}
body .testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}
body .testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}
body .testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}
body .testimonial .row .tabs li figure {
  position: relative;
}
body .testimonial .row .tabs li figure img {
  display: block;
}
body .testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #3782b4;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body .testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body .testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body .testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}
body .testimonial .row .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}
body .testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}
body .testimonial .row .carousel .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}
body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}
body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
body .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  body .testimonial .row .tabs {
    margin-right: 25px;
  }
}

footer a{
  transition: 0.3s;
}

footer a:hover{
  transform: translateX(10px);
  color: white !important;
  transition: 0.3s;
}

footer input::placeholder{
  color: white !important;
}